ErrorDocument 400 /404/index.php
ErrorDocument 401 /404/index.php
ErrorDocument 403 /404/index.php
ErrorDocument 404 /404/index.php
ErrorDocument 405 /404/index.php
ErrorDocument 408 /404/index.php
ErrorDocument 414 /404/index.php
ErrorDocument 500 /404/index.php
ErrorDocument 502 /404/index.php
ErrorDocument 504 /404/index.php

Options -Indexes

RewriteEngine On
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
# Redirect all invalid links to the 404 default
RewriteRule . /404/?why=%{REQUEST_URI} [L]