#dev {
  padding: 5px;
}

#about-logo-container {
  padding: 50px;
}

.dev-icon {
  margin: 5px;
  display: inline;
  &.big {
    height: 200px;
    width: 200px;
  }
  &.medium {
    height: 120px;
    width: 120px;
  }
  &.small {
    height: 80px;
    width: 80px;
  }
}

//logo animation

@mixin animation-sticky($args) {
  -webkit-animation: $args;
  -moz-animation: $args;
  -o-animation: $args;
  animation: $args;
  animation-fill-mode: both;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
}

@mixin animation-delay($delay) {
  -webkit-animation-delay: $delay;
  -moz-animation-delay: $delay;
  -o-animation-delay: $delay;
  animation-delay: $delay;
}

@mixin transition($duration) {
  -webkit-transition: all $duration;
  -moz-transition: all $duration;
  -o-transition: all $duration;
  transition: all $duration;
}

@mixin smooth-bold($color, $duration) {
  color: $color;
  text-shadow: -0.007em -0.007em 0 $color,
  0.007em -0.007em 0 $color,
  -0.007em 0.007em 0 $color,
  0.007em 0.007em 0 $color;
  @include transition($duration)
}

@keyframes w {
  0% {
    stroke-dashoffset: 95;
    opacity: 0;
  }
  100% {
    opacity: 0.8;
    stroke-dashoffset: 0;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.7;
  }
}

//using id's to avoid future conflicts

$wDelay: 0.5;
$wDuration: 0.75;
$wTextDelay: 0.2;

#w-1, #w-2, #w-3, #w-4 {
  stroke-dasharray: 95;
  @include animation-sticky(w #{$wDuration}s)
}

#w-1 {
  @include animation-delay(#{$wDelay}s);
}

#w-2 {
  @include animation-delay(#{$wDelay+$wTextDelay}s);
}

#w-3 {
  @include animation-delay(#{$wDelay+2*$wTextDelay}s);
}

#w-4 {
  @include animation-delay(#{$wDelay+3*$wTextDelay}s);
}

//Word animation
$textDelay: 2;
$nextTextDelay: 0.1;

#w-drop {
  @include animation-sticky(fade-in 0.5s);
  @include animation-delay(#{$wDelay+$textDelay}s);
}

#s-themer, #s-developer, #s-student {
  @include animation-sticky(slideFadeIn 0.5s);
  top: 5em;
  color: dimgrey;
  position: relative;
  padding: 0.5em;
  opacity: 0;
  display: inline-block;
  &:hover {
    @include smooth-bold(#F44336, 0.2s);
  }
}

#s-themer {
  animation-delay: #{$wDelay+$textDelay}s;
  -webkit-animation-delay: #{$wDelay+$textDelay}s;
}

#s-developer {
  animation-delay: #{$wDelay+$textDelay+$nextTextDelay}s;
  -webkit-animation-delay: #{$wDelay+$textDelay+$nextTextDelay}s;
}

#s-student {
  animation-delay: #{$wDelay+$textDelay+2*$nextTextDelay}s;
  -webkit-animation-delay: #{$wDelay+$textDelay+2*$nextTextDelay}s;
}

@keyframes slideFadeIn {
  100% {
    top: 0;
    opacity: 1;
  }
}
