#circuits {
  h6 {
    margin-top: 2em;
    margin-bottom: 1em;
    font-weight: 500;
  }
  img {
    margin-top: 2em;
    margin-bottom: 2em;
  }
  .divider {
    margin-top: 2em;
    margin-bottom: 2em;
  }
}