$themeColor: rgba(0, 151, 167, 0.2);

//bring footer down to bottom
html, body, main {
  height: 100%;
}

body > main {
  height: auto;
  min-height: 100%;
}

#w-logo-container {
  padding: 50px;
}

.dev-icon {
  margin: 5px;
  display: inline;
  &.big {
    height: 200px;
    width: 200px;
  }
  &.medium {
    height: 120px;
    width: 120px;
  }
  &.small {
    height: 80px;
    width: 80px;
  }
}

//logo animation

@mixin fill-animation() {
  animation-fill-mode: both;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
}

@mixin animation-sticky($args) {
  -webkit-animation: $args;
  -moz-animation: $args;
  -o-animation: $args;
  animation: $args;
  @include fill-animation;
}

@mixin animation-delay($delay) {
  -webkit-animation-delay: $delay;
  -moz-animation-delay: $delay;
  -o-animation-delay: $delay;
  animation-delay: $delay;
}

@mixin transition($duration) {
  -webkit-transition: all $duration;
  -moz-transition: all $duration;
  -o-transition: all $duration;
  transition: all $duration;
}

#b-row .btn-flat {
  &.show {
    @include animation-sticky(slideFadeIn 0.5s);
  }
  top: 5em;
  color: dimgrey;
  position: relative;
  opacity: 0;
  display: inline-block;
}

@keyframes slideFadeIn {
  100% {
    top: 0;
    opacity: 1;
  }
}

.btn-flat.selected {
  background-color: $themeColor;
  @include transition(0.2s);
}
