$answer-offset: 150;
$question-offset: 50;
$anim-duration: 0.3s;

//prevent horizontal scrolling
html, body {
  max-width: 100%;
  overflow-x: hidden;
}

img {
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
}

.qa-row {
  padding-top: 0.5em !important;
  padding-bottom: 0.5em !important;
  margin-bottom: 0 !important;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.05);
  &.selected {
    background-color: #eee;
  }
}

#shell {
  min-height: 100vh;
}

#q-and-a {
  display: none;
}

//allow for jquery scroll animations
html, body, main {
  height: inherit;
}

@mixin translateX($val) {
  transform: translateX($val * 1%);
  -webkit-transform: translateX($val * 1%);
}

.question {
  padding: 0.75rem 1rem !important;
  @include translateX($question-offset);
  &.q-left {
    animation: q-slide-in #{$anim-duration} forwards;
    -webkit-animation: q-slide-in #{$anim-duration} forwards;
  }
  &.q-center {
    animation: q-slide-out #{$anim-duration} forwards;
    -webkit-animation: q-slide-out #{$anim-duration} forwards;
  }
}

.answer {
  padding: 0.75rem 1rem !important;
  display: inline-block;
  width: 50%;
  @include translateX($answer-offset);
  &.a-show {
    animation: a-slide-in #{$anim-duration} forwards;
    -webkit-animation: a-slide-in #{$anim-duration} forwards;
  }
  &.a-hide {
    animation: a-slide-out #{$anim-duration} forwards;
    -webkit-animation: a-slide-out #{$anim-duration} forwards;
  }
}

@mixin key-translateX($animationName, $value) {
  @-webkit-keyframes #{$animationName} {
    @if ($value != 0) {
      0% {
        -webkit-transform: translateX(0%);
      }
    }
    100% {
      -webkit-transform: translateX($value);
    }
  }
  @-moz-keyframes #{$animationName} {
    @if ($value != 0) {
      0% {
        -moz-transform: translateX(0%);
      }
    }
    100% {
      -moz-transform: translateX($value);
    }
  }
  @-o-keyframes #{$animationName} {
    @if ($value != 0) {
      0% {
        -o-transform: translateX(0%);
      }
    }
    100% {
      -o-transform: translateX($value);
    }
  }
  @keyframes #{$animationName} {
    @if ($value != 0) {
      0% {
        transform: translateX(0%);
      }
    }
    100% {
      transform: translateX($value);
    }
  }
}

@mixin key-translateX-fade($animationName, $value) {
  @-webkit-keyframes #{$animationName} {
    @if ($value != 0) {
      0% {
        -webkit-transform: translateX(0%);
        opacity: 1;
      }
      100% {
        -webkit-transform: translateX($value);
        opacity: 0;
      }
    } @else {
      0% {
        opacity: 0;
      }
      100% {
        -webkit-transform: translateX(0%);
        opacity: 1;
      }
    }
  }
  @-moz-keyframes #{$animationName} {
    @if ($value != 0) {
      0% {
        -moz-transform: translateX(0%);
        opacity: 1;
      }
      100% {
        -moz-transform: translateX($value);
        opacity: 0;
      }
    } @else {
      0% {
        opacity: 0;
      }
      100% {
        -moz-transform: translateX(0%);
        opacity: 1;
      }
    }
  }
  @-o-keyframes #{$animationName} {
    @if ($value != 0) {
      0% {
        -o-transform: translateX(0%);
        opacity: 1;
      }
      100% {
        -o-transform: translateX($value);
        opacity: 0;
      }
    } @else {
      0% {
        opacity: 0;
      }
      100% {
        -o-transform: translateX(0%);
        opacity: 1;
      }
    }
  }
  @keyframes #{$animationName} {
    @if ($value != 0) {
      0% {
        transform: translateX(0%);
        opacity: 1;
      }
      100% {
        transform: translateX($value);
        opacity: 0;
      }
    } @else {
      0% {
        opacity: 0;
      }
      100% {
        transform: translateX(0%);
        opacity: 1;
      }
    }
  }
}

@include key-translateX-fade(a-slide-in, 0);
@include key-translateX(q-slide-in, 0);
@include key-translateX-fade(a-slide-out, $answer-offset);
@include key-translateX(q-slide-out, $question-offset);