<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
        <div class="container"><br><br>
            <h1 class="header center white-text text-lighten-2 pad-top-20">{{title}}</h1>
            <div class="row center">
                <h5 class="header col s12 light white-text">
                    <ng-transclude></ng-transclude>
                </h5>
            </div>
            <br><br></div>
    </div>
    <div class="parallax blur-darken"><img src="/images/banners/{{image}}" alt="{{title}} Header"></div>
</div>